@charset "utf-8";
/* CSS Document */

body {
	background-image: url("BeautifulPlaceInTheWorldWallpaperHD-Tuffboys.jpg");
	background-size: 100%;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

header{
	padding-top: 15px;
	text-align: center;
	color:#051425;
}
 
header .judul{
	font-size: 24pt;
}
 
header .deskripsi{
	font-size: 11pt;
}
 
.wrap {
	width: 1000px;
	margin:15px auto;
}

.gayatabel 
	th {
		color: #ffffff; 
		background-color: #1EADCD; 
		border-width: 0px; 
		font-size: 9pt;
		text-transform: uppercase;
}
	td {
		color: black; 
		background-color: #e6e6fa; 
		border-width: 0px; 
		font-size: 12pt;
		font-family: "Gill Sans MT";
		text-align: center;
}


